*{
    padding:0;
    margin:0;
}
h1{
    font-size: 30px;
    color:yellow;
    text-align: center;
}
h2{
    font-size:20px;
    color:blue;
}
h3{
    font-size: 20px;
    color:pink;
}
h4{
    color:purple;
}
h5{
    font-size: 10px;
}
h6{
    font-size: 30px;
}


